.section1{
    background-color: $secondary;

    .inner-container1{
        background-repeat: no-repeat;
        background-size: contain !important;
        background-position: center;
        background: linear-gradient(rgba(102, 7, 100, 0.5), rgba(102, 7, 100, 0.5)), (url(imgs/sandro-katalina-k1bO_VTiZSs-unsplash.jpg));
        padding: 200px 90px 30px 20px;
        height: auto;


        .inner-container2{
            height: auto;
            max-width: 500px;
            padding: 20px 40px;
            margin-bottom: 30px;
            float: right;
            background-color: white;
            color: $text;
        
        
            h2{
                font-size: 1.8rem;
                line-height: 2.3rem;
                margin-bottom: 30px;
            }
        
            p{
                font-size: 1.4rem;
                line-height: 1.8rem;
                letter-spacing: 0.6px;
                margin-bottom: 30px;
            }
        
            h5{
                margin: 20px auto;
            }
        
            button{
                padding: 10px 20px;
                border-radius: 20px;
                background-color: $secondary;
                border: 0;
                a{
                    text-transform: uppercase;
                    text-decoration: none;
                    color: white;
                    font-weight: 600;
                    letter-spacing: 0.8px;
                }
            }
        }

    }
}

@media screen and (max-width: 995px) {
    .section1{
    
        .inner-container1{
            padding: 150px 30px 20px 70px;

            .inner-container2{
        
                h2{
                    font-size: 1.5rem;
                    line-height: 1.8rem;
                    margin-bottom: 20px;
                }
            
                p{
                    font-size: 1.1rem;
                    line-height: 1.3rem;
                    margin-bottom: 20px;
                }
            
                h5{
                    margin: 20px auto;
                }
            
                button{
                    a{
                        font-size: 0.7rem;
                    }
                }
            }
        
        }
    }
}

@media screen and (max-width: 695px) {
    .section1{
    
        .inner-container1{
            padding: 350px auto 20px auto;

            .inner-container2{
        
                h2{
                    font-size: 1rem;
                    line-height: 1.1rem;
                    margin-bottom: 20px;
                }
            
                p{
                    font-size: 0.8rem;
                    line-height: 1rem;
                    margin-bottom: 20px;
                }
            
                h5{
                    margin: 20px auto;
                }
            
                button{
                    padding: 5px 10px;
                    a{
                        font-size: 0.5rem;
                    }
                }
            }
        
        }
    }
}


.section2{
    height: auto;
    width: 100%;
    background-color: white;
    background: linear-gradient(to bottom, transparent,transparent, $secondary, $secondary);
    // z-index: 2;

    h5{
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.9px;
        color: rgb(133, 77, 133);
        margin: 110px auto 10px auto;
        text-align: center;
    }

    h2{
        font-size: 3.5rem;
        letter-spacing: 0.9px;
        line-height: 4rem;
        color: $main;
        margin: 10px auto;
        text-align: center;
    }
    .section2-inner{
        // display: inline-block;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 60px auto;
        align-items: center;

        .cards{
            margin: 60px auto;
            padding: 20px;
            background-color: $main;
            color: white;
            height: auto;
            width: 300px;
            text-align: center;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 5px;

            h3{
                margin: 0px auto 15px auto;
            }

            img{
                margin: 10px auto;
                object-fit: contain;
                height: 70px;
                width: 70px;
            }

            h6{
                margin: 10px auto;
                a{
                    color: white;
                }
            }
            
        }
    }

    button{
        display: flex;
        justify-content: center;
        margin: 30px auto 100px auto;
        padding: 10px 30px;
                border-radius: 20px;
                background-color: $main;
                border: 0;
                a{
                    text-transform: uppercase;
                    text-decoration: none;
                    color: white;
                    font-weight: 600;
                    letter-spacing: 0.9px;
                }
    }
}


@media screen and (max-width:931px) {
    
    .section2{
        .section2-inner{
            flex-direction: column;
            width: 100%;
            margin: 40px auto;

            .cards{
                margin: 40px auto;           
            }
        }
    }

}

.section3{
    background: linear-gradient(to top, transparent,$secondary);
    height: auto;

    .inner-section3{
        margin:300px auto 100px auto;
        padding: 0px 60px;
        display: flex;
        flex-direction: row;
        gap: 2em;

        .left{
            width: 70%;
            // padding-left: 60px;
            h2{
                font-size: 3rem;
                margin-bottom: 20px;
                color: white;
                text-transform: uppercase;
            }

            img{
                margin: 2px;
                object-fit: contain;
                object-position: center;
                margin: 0 auto;
                width: 100%;
            }

            h6{
                margin: 5px auto;
            }
        }

        .right{
            margin-top: 60px;
            width: 30%;

            .inner{
                h2{
                    margin: 20px auto;
                }

                p{
                    margin: 5px auto;
                    padding-left: 30px;                    
                }

                button{
                    background-color: transparent;
                    border-color: transparent;
                    margin-left: 30px;

                    a{
                        text-transform: uppercase;
                        color: $secondary;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:900px) {
    
.section3{

    .inner-section3{
        margin:200px auto 40px auto;
        padding: 0px 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .left{
            width: 100%;
            padding-left: 0px;
            margin: 0 auto;
            text-align: center;
            justify-content: center;
            align-items: center;
            h2{
                text-align: center;
                font-size: 1.5rem;
            }

            h6{
                margin: 5px auto;
            }
        }

        .right{
            margin: 0 auto;
            width: 100%;

            .inner{
                text-align: center;
                margin: 20px auto;
                h2{
                    margin: 20px auto;
                }

                p{
                    margin: 5px auto;
                    padding: 0px 10px;
                    // padding-left: 0;
                    // width: 350px;
                }
            }
        }
    }
}
}

.section4{
    background-color: $main;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    .inner-section4{
        display: flex;
        flex-direction: row;
        margin: 30px 40px;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 2em;

        h2{
            font-size: 1.8rem;
            text-transform: uppercase;
            color: white;
            letter-spacing: 1px;
            text-align: left;
        }

        button{
            background-color: white;
            border-color: transparent;
            border-radius: 50px;
            // margin-left: 50px;
            padding: 10px 40px;

            a{
                text-transform: uppercase;
                color: $secondary;
                font-weight: 700;
            }
        }
    }
}

@media screen and (max-width:869px) {
    .section4 {

        .inner-section4{
            flex-direction: column;
        }
    }
}

@media screen and (max-width:665px) {
    .section4 {

        .inner-section4{

            h2{
                font-size: 1.2rem;
            }

            button{

                a{
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media screen and (max-width:478px) {
    .section4 {

        .inner-section4{

            h2{
                font-size: 0.8rem;
            }

            button{
                padding: 5px 20px;

                a{
                    font-size: 0.6rem;
                }
            }
        }
    }
}


.section5{
    height: auto;
    padding: 0px 40px;
    justify-content: center;
    align-items: center;
    margin: 220px auto;
    .inner-section5{
        height: auto;
        display: flex;
        flex-direction: row;
        margin: 30px auto;
        justify-content: center;
        align-items: center;
        gap: 1em;

        .left-5{
            max-width: 600px;
            justify-content: center;
            align-items: center;

            p{
                font-size: 18px;
                letter-spacing: 1px;
                line-height: 28px;
            }

            h6{
                margin: 60px auto;
            }

            button{
                display: flex;
                padding: 10px 30px;
                        border-radius: 20px;
                        background-color: $main;
                        border: 0;
                        a{
                            text-transform: uppercase;
                            text-decoration: none;
                            color: white;
                            font-weight: 600;
                            letter-spacing: 0.9px;
                        }
            }
        }

        .right-5{
            img{

                margin: 2px;
                object-fit: contain;
                object-position: center;
                margin: 0 auto;
                width: 100%;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width:874px) {
    .section5{
        .inner-section5{
            flex-direction: column;
        }
    }
}

.section6{
    height: auto;
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: $main;

    .inner-section6{
        height: auto;
        padding: 0px 40px;
        justify-content: center;
        align-items: center;
        margin: 100px auto;
        display: flex;
        flex-direction: column;
        color: white;

        img{
            height: 500px;
            // margin: 50px auto;
            // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            padding: 20px auto;
        }

        h2{
            text-transform: uppercase;
            font-size: 2.5rem;
            letter-spacing: 1px;
            line-height: 2.8rem;
            margin: 40px auto;
        }

        p{
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.9px;
            margin: 10px auto;
            text-align: center;
            padding: 0px 70px;
            font-weight: 100;
        }

        h6{
            margin: 10px auto;
        }

        button{
            background-color: $secondary;
            border-color: transparent;
            border-radius: 50px;
            padding: 10px 40px;
            margin: 30px auto;

            a{
                text-transform: uppercase;
                text-decoration: none;
                color: white;
                font-weight: 700;
            }
        }


    }
}

@media screen and (max-width:600px) {

    .section6{
        padding:0px 30px;
        .inner-section6{
            padding: 0px 20px;
            img{
                height: 300px;
            }

            h2{
                font-size: 1.6rem;
                height: auto;
                text-align: center;
                margin:40px auto 10px auto;
            }

            p{
                font-size: 14px;
                padding: 0px 5px;
            }

            button{
                a{
                    font-size: 0.8rem;
                }
            }
        }
    }
    
}

.section7{

    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .inner-section7{

        height: auto;
        padding: 0px 40px;
        justify-content: center;
        align-items: center;
        margin: 100px auto;
        display: flex;
        flex-direction: row;
        gap: 2em;
        text-align: center;

        .left-7, .right-7{
            width: 50%;
        }

        img{
            // height: 700px;
            object-fit: contain;
            object-position: center;
            margin: 0 auto;
            width: 100%;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        h2{
            font-size: 2.7rem;
            text-transform: uppercase;
        }

        h3{
            font-size: 2rem;
            margin: 50px auto;
        }

        p{
            padding: 0px 50px;
        }

        h6{
            text-align: left;
            margin-top: 30px;
        }
    }
}

@media screen and (max-width:800px) {
    .section7{

        .inner-section7{
    
            padding: 0px 40px;
            margin: 100px auto;
            flex-direction: column;
    
            .left-7, .right-7{
                width: 100%;
            }
    
            h2{
                font-size: 1.7rem;
                text-transform: uppercase;
            }
    
            h3{
                font-size: 1.3rem;
                margin: 30px auto;
            }
    
            p{
                padding: 0px 30px;
            }

            h6{
                font-size: 8px;
            }
        }
    }
}

footer{
    height: auto;
    width: 100%;
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .inner-footer{
        margin: 70px auto;
        color: white;
        letter-spacing: 1px;

        h2{
            font-size: 2.5rem;
            margin: 20px auto;
        }
    }

}