$main: #381f38;
$secondary: #660764;
$text: #080008;
$mainfont: 'DM Sans', sans-serif;
$secondfont: 'Poppins', sans-serif;
//  ALL CODE AND DESIGN BY GRACE BIRNAM <a href="https://grxcelyn.com/">Grxcelyn.com</a> 

